.escandal{
    background-color:#565a5e;
    color: rgb(255, 255, 255); 
    padding: 10px;
}
.titulos{
    color: rgb(79, 82, 79);
}

.image-upload>input {
    display: none;
  }
.cuerpo{
    text-align: center;
    background-image: url("../img/fondoVerImagen.png");
    background-size: 100%;    
}

#iconoNube{
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.658), 0 7px 10px -5px rgba(91, 107, 250, 0.829) !important;
}