.principal{
    background-image: url(/static/img/fondoVerImagen.png);
    background-attachment: fixed;
    size: 70vh;
} 

.imagenSeleccionada{
    border: 5px solid whitesmoke; 
    border-radius: 60px; 
    border: 5px solid whitesmoke; 
    border-radius: 60px;
    /*object-fit: contain;*/
    /*width: 400px; 
    height: 500px;*/ 
}
.imagenModificar{
    border: 5px solid whitesmoke; 
    border-radius: 60px;
    max-width: 100%; 
    max-height: 100%;
}

/*#iconoDescargar{
    position: absolute;
    right: 180px;
    top: 100px;    
}*/

.btn {
    /*background-color:  rgb(203, 203, 203);*/
    background-color: transparent;
    border: none; /* Remove borders */
    font-size: 40px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    /*position: relative;
    right: 380px;
    top: -380px;*/
  }
.btn:active {
    transform: translateY(2px);
  }
.btn:focus{
    outline:0;
  }
/*#iconoUsuario{
    position: absolute;
    left: 220px;
    top: 120px;    
}*/

.rowcol {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .columnas {
    flex: 25%;
    max-width: 100%;
    padding: 30px 30px;
  }
  
  .columnas img {
    margin-top: 8px;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .columnas {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .columnas {
      flex: 100%;
      max-width: 100%;
    }
  }

.informacion-usuario{
    margin-top: 60px;
    margin-left: 150px;
    text-align: left; 
}

.informacion-usuario div{
  display: inline-block; 
}

.informacion-usuario div label{
  display: block;  
  text-align: left;
  font-family: 'arial';
  font-size: 17px;
}

.informacion-imagen{
margin-top: 170px;
text-align: center;
}

.informacion-imagen label{
  display: block; 
}

#nombrePrincipal{
  font-family: 'arial';
  font-style: italic;
  font-size: 45px;
}

#etiquetas{
  font-family: 'arial';
  font-size: 25px;
}
