section{
    background-image: url('/static/img/fondoVerImagen.png');
    background-size: cover;
    size: 70vh;
}
.imagenSeleccionada{
    position: absolute; 
    top: 85px; 
    right: 350px; 
}
.imagenModificar{
    border: 5px solid whitesmoke; 
    border-radius: 60px; 
    width: 400px; 
    height: 500px;
}
h1{
    position: absolute;
    left: 120px;
    top: 250px;
    font-family: 'arial';
    font-style: italic;
    font-size: 40px;
    /*font-family: "Lucida Handwriting";*/
}
h2{
    position: absolute;
    left: 120px;
    top: 320px;
    font-family: 'arial';
    font-size: 25px;
    /*font-family: "Garamond";*/
}
/*#iconoDescargar{
    position: absolute;
    right: 180px;
    top: 100px;    
}*/
.btn {
    background-color:  rgb(203, 203, 203);
    border: none; /* Remove borders */
    font-size: 40px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    position: absolute;
    right: 180px;
    top: 100px; 
  }
.btn:active {
    transform: translateY(5px);
  }
.btn:focus{
    outline:0;
  }
#iconoUsuario{
    position: absolute;
    left: 220px;
    top: 50px;    
}
h3{
    position: absolute;
    left: 260px;
    top: 30px;
    /*font-family: "Garamond";*/
    font-family: 'arial';
    font-size: 17px;
}
h4{
    position: absolute;
    left: 260px;
    top: 40px;
    /*font-family: "Garamond";*/
    font-family: 'arial';
    font-size: 17px;
}
