* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tarjeta-formulario {
    background: white;
    padding: 30px;
    margin: auto;
    border-radius: 7px;
    font-family: 'arial';
    color: #24303c;
    box-shadow: 7px 13px 30px #000;
}

/* Títulos de las tarjetas */
.tarjeta-formulario h4 {
    font-size: 25px;
    margin-bottom: 20px;
}

/* Texto dentro de las cajas */
.caja-texto {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 8px 0;
    border: 1px solid #24303c;
    font-size: 18px;
}

/* Texto suelto */
.texto {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 0px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}

/* Links */
.tarjeta-formulario a {
    color: #24303c;
    text-decoration: none;
    text-align: center;
}

/* Links cuando se posiciona el ratón sobre ellos */
.tarjeta-formulario a:hover {
    color: #3E63A9;
    text-decoration: underline;
}

/* Todos los botones */
.boton {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 12px;
    color: white;
    margin: 8px 0;
    font-size: 16px;
}

/* Vista Ingreso ******************************************************************* */
#body-ingreso {
    background-image: url('/static/img/fondoIngreso.jpg');
    background-size: cover;
}

#tarjeta-ingreso {
    width: 380px;
    margin-top: 130px;
}

#boton-iniciosesion {
    margin-top: 25px;
    background: #666745;
}

#boton-registro-ingreso {   /* Botón de registro de la vista ingreso.html */
    background: white;
    color: #666745;
    border-radius: 20px;
    border: 1px solid #666745;
}

/* Vista Registro ******************************************************************** */
#body-registro {
    background-image: url('/static/img/fondoRegistro.jpg');
    background-size: cover;
}

#tarjeta-registro {
    width: 400px;
    margin-top: 85px;
}

#boton-registro-registro {   /* Botón de registro de la vista registro.html */
    background: #3E63A9;
    margin-top: 25px;    
}

/* Vista OlvidaPass ******************************************************************* */
#body-olvidaPass {
    background-image: url('/static/img/fondoOlvidaPass.jpg');
    background-size: cover;
}

#boton-olvidaPass {
    margin-top: 15px;
    background: #202020;
}

/* Vista termsCond ********************************************************************* */
#body-termsCond{
    background-image: url('/static/img/fondoTermsCond.jpg');
    background-size: contain;
}

#tarjeta-terms {
    width: 900px;
    margin-top: 140px;
    margin-bottom: 140px;
    background: #24303c;
    color: white;
}

#titulo-terms {
    font-size: 36px;
    margin: 30px;
    margin-bottom: 60px;
}

#subtitulo-terms {
    font-size: 25px;
    margin: 30px;
}

#terms {
    font-size: 18px;
    margin: 30px;
    text-align: justify;
    height: auto;
}
.escandal{
    background-color: lime;
    color: rgb(139, 0, 0); 
}