/** {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}*/

.principal {
    background: url(/static/img/fondoVerImagen.png) top center;
    background-attachment: fixed;
    size: 70vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.form {
    width: 600px;
    padding: 40px;
    display: inline-block;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);  
}

.input_elements input[type = "text"]{
    border: 0;
    background: none;
    display: block;
    margin: auto;
    text-align: center;
    width: 200px;
    height: 50px;
    
    border: 2px solid #3498db;
    outline: none;
    color: black;
    border-radius: 24px;
}
.input_elements input[type = "file"]{
    border:0;
    background: none;
    display: block;
    margin: auto;
    border: 2px solid #3498db;
    padding: 20px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
}

.img{
    height: 100%;
    width: 100%;
    display: block;
    padding-top: 30px;
}

.input_elements input[type = "submit"] {
    border:0;
    background: none;
    display: inline-block;
    margin: 30px 20px auto auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  
  #titulo{
      font-size: 28px;
  }