*{

}

.barra-header {
    display: flex;
    justify-content: space-around;
    padding-top: 0.3rem;
    margin: 0 auto 0 auto;
    align-items: center;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15) 
    
}

.contenedor-buscarima{
    background-image: url(/static/img/fondoPrincipal.jpg);
    margin: 0 auto 0 auto;
    min-height: 70vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}

.contenedor-buscarima * {
  padding-top: 10px;
  padding-bottom: 10px ;
}

.cont-imgbuscar{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contimg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.formSearch{
  display: inline-block;
  text-align: left;
  align-items: left;
}

.boton-buscar {
  /*background-color:  rgb(203, 203, 203);*/
  background-color: transparent;
  border: none; /* Remove borders */
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.boton-buscar:active {
  transform: translateY(2px);
}

.boton-buscar:focus{
  outline:0;
}

.header{
    background-color: #FFFFFF;
    background-position: center center;
    background-size: cover;
    height: 10vh;
}

.navegacion a {
    color: black;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 28px;
    text-decoration: none;
    margin-right: 20px;
    padding-top: 30px;
}
.navegacion a:hover{
    color: grey ;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: max-content;
  padding: 0 3px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 30%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

