
.barra-header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    max-width: 1400px;
    margin: 0 auto 0 auto;

}

.contenedor-buscarima{
    display: flex;
    max-width: 1400px;
    margin: 10vh auto 0 auto;


}

.header{
    background-color: #FFFFFF;
    background-position: center center;
    background-size: cover;
    height: 10vh;
}

.navegacion a {
    color: black;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 28px;
    text-decoration: none;
    margin-right: 20px;
    padding-top: 30px;
}
.navegacion a:hover{
    color: white ;
}

.column {
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }