<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    {% block header %}{% endblock %}
</head>
<body>
    <section  >
        <div class="barra-header">
            <a href="/">
                <img src="/static/img/visageimage.png" alt="Logo VisageImage">
            </a>
            <nav class="navegacion">
                <a href="{{ url_for('index') }}">Home</a>
            </nav>
        </div>
    </section>

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    
    <footer class="barra-header">
        <p class="copyright-text"> Copyright &copy; 2020 All Rights Reserved by VisageImage </p>
    </footer>
</body>

</html>