<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos.css') }}">
    <title>Cambiar contraseña | VisageImage</title>
</head>
<body id="body-olvidaPass">
    <section class="tarjeta-formulario" id="tarjeta-ingreso">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div>
                <h4>Cambiar contraseña</h4>
                {{ form.email.label }}
                {{ form.email(size=64, class_="caja-texto") }}
                {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.contrasena.label }}
                {{ form.contrasena(size=64, class_="caja-texto") }}
                {% for error in form.contrasena.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.confirmar.label }}
                {{ form.confirmar(size=64, class_="caja-texto") }}
                {% for error in form.confirmar.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <input class="boton" id="boton-olvidaPass" type="submit" value="Cambiar">
        </form>
    </section>
</body>
</html>