{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block header %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VisageImage</title>
<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilosPerfil.css') }}" >
<script src="https://kit.fontawesome.com/16e7301bc6.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/llamarimagen.js"></script>
{% endblock %}

{% block content %}
<section>
    <div class="contenedor-buscarima">
        <div class="cont-imgbuscar">
            <h1>Tu sitio web para compartir, descargar y apoyar a los talentos digitales.</h1>
            
            <img class="contimg" src="/static/img/visageimage.png" alt="Logo VisageImage">
            
            <form class="formSearch" method="POST" novalidate action="">
                {{ form.tag(size =64)}}
                {% for error in form.tag.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                <button class="boton-buscar" type="submit" value="buscar" ><i class="fas fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</section>

<section>
    <div class="contenedor-imagenes">
        <a href="verImagen" target = "_self">
            {% for listaf in listaf %}
            <img src="{{ listaf[0] }}" title="{{ listaf[1] }}" alt="{{ listaf[2] }}" onclick="guardar_src(this.src); guardar_nombre(this.title); guardar_etiqueta(this.alt);">
            {% endfor %}
        </a>			  
    </div>
</section>
{% endblock %}

</html>