<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos.css') }}">
    <title>Iniciar sesión | VisageImage</title>
</head>
<body id="body-ingreso">
    <section class="tarjeta-formulario" id="tarjeta-ingreso">
        <form action="{{ url_for('perfil') }}" method="post">
            <h4>Iniciar sesión</h4>
            <input class="caja-texto" type="text" name="usuario" id="usuario" placeholder="Ingrese su usuario">
            <input class="caja-texto" type="password" name="contrasena" id="contrasena" placeholder="Ingrese su contraseña">
            <input class="boton" id="boton-iniciosesion" type="submit" value="Iniciar sesión">
            <input class="boton" id="boton-registro-ingreso" type="submit" value="Registrarse">
            <p class="texto"><a href="{{ url_for('cambiaPass') }}">¿Olvidaste tu contraseña?</a></p>
        </form>
    </section>
</body>
</html>