<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos.css') }}">
    <title>Recuperar contraseña | VisageImage</title>
</head>
<body id="body-olvidaPass">
    <section class="tarjeta-formulario" id="tarjeta-ingreso">
        <h4>Recuperar contraseña</h4>
        <input class="caja-texto" type="email" name="email" id="email" placeholder="Ingrese su correo electrónico">
        <input class="boton" id="boton-olvidaPass" type="submit" value="Enviar">
    </section>
</body>
</html>