{% extends 'baseImagen.html' %}

<!DOCTYPE html>
<html lang="es">

{% block header %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Perfil | VisageImage</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilosPerfil.css') }}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="../static/js/llamarimagen.js"></script>
</head>
{% endblock %}

{% block content %}
<body>
    <div class="fotoPerfil">
      <img src="../../../static/img/icono-perfil.jpg" alt="fotoPerfil" >
    </div>

    <div class="Nombre">
        <h2>@{{ nombreUsuario }}</h2>
    </div>
    
    <div class="opciones">
        <ul>
            <li class="active"><i class="fa fa-file-image-o" aria-hidden="true"></i><a href="#">MyGaleria</a>
                <div class="submenu-1">
                    <ul>
                        <li><a href="{{ url_for('subirimagen')}}">Subir Imagen</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="contenedor-imagenes">
        <a href="vistaModificar" target = "_self">
            {% for lista in lista %}<img src="{{ lista[0] }}" title="{{ lista[1] }}" onclick="guardar_src2(this.src); guardar_nombre2(this.title);">{% endfor %}
        </a>			  
    </div>
</body> 
{% endblock %}

</html> 