<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Perfil | VisageImage</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilosPerfil.css') }}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
        <header class="header" >
            <img src="../../../static/img/visageimage-cortada.jpg" />
            <div class="botones-inicio">
                <nav>
                    <ul class="redicc">
                        <li class="active2"><a href="../Html/index.html">inicio</a></li>
                        <li class="active2"><a href="·">redireccion3</a></li>
                    </ul>
                </nav> 
            </div> 
        </header>
    </div>
    <div class="fotoPerfil">
      <img src="../../../static/img/icono-perfil.jpg" alt="fotoPerfil" >
    </div>

    <div class="Nombre">
        <h2>Nombre de usuario</h2>
    </div>
    
    <div class="opciones">
        <ul>
            <li class="active"><i class="fa fa-file-image-o" aria-hidden="true"></i><a href="#">MyGaleria</a>
                <div class="submenu-1">
                    <ul>
                        <li><a href="#">opcion1</a></li>
                        <li><a href="#">opcion2</a></li>
                        <li><a href="#">opcion3</a></li>
                    </ul>
                </div>
            </li>
            <li class="active"><i class="fa fa-cog" aria-hidden="true"></i><a href="#">configuracion</a>
                <div class="submenu-2">
                    <ul>
                        <li><a href="#">opcion1</a></li>
                        <li><a href="#">opcion2</a></li>
                        <li><a href="#">opcion3</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="contenedor-imagenes">
        <img src="https://images.unsplash.com/photo-1505784045224-1247b2b29cf3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec2bdc92a9687b6af5089b335691830e&auto=format&fit=crop&w=750&q=80" class="rounded"> 

        <img src="https://images.unsplash.com/photo-1524498250077-390f9e378fc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83079913579babb9d2c94a5941b2e69d&auto=format&fit=crop&w=751&q=80" class="rounded">
          
        <img src="https://static.t13.cl/images/original/2019/05/1557689182-goku.jpg" alt="rounded">
        
        <img src="https://static.t13.cl/images/original/2019/05/1557689182-goku.jpg" alt="rounded">
  					  
    </div>
</body> 
</html> 