<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos.css') }}">
    <title>Crear cuenta | VisageImage</title>
</head>
<body id="body-registro">
    <section class="tarjeta-formulario" id="tarjeta-registro">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div>
                <h4>Crea tu cuenta</h4>
                {{ form.nombre.label }}
                {{ form.nombre(size=64, class_="caja-texto") }}
                {% for error in form.usuario.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.usuario.label }}
                {{ form.usuario(size=64, class_="caja-texto") }}
                {% for error in form.usuario.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.email.label }}
                {{ form.email(size=64, class_="caja-texto") }}
                {% for error in form.usuario.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.contrasena.label }}
                {{ form.contrasena(size = 64, class_="caja-texto") }} <br>
                {% for error in form.contrasena.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="texto">
                <input type="checkbox" name="" id="aceptar-terms">
                <span>He leído y acepto los <a href="{{ url_for('terminos') }}" target="_blank">Términos y condiciones</a></span>
            </div>
            <input class="boton" id="boton-registro-registro" type="submit" value="Registrarse">
            <p class="texto"><a href="{{ url_for('login') }}">¿Ya tienes una cuenta?</a></p>
        </form>
    </section>
</body>
</html>