<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Subir Imagen | VisageImage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/edwstilos.css') }}">
    <!--<script type="text/javascript" src="../JavaScript/fotos_en_pagina.js"> -->
    </script>

</head>

<body>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <section id="tarjeta-ingreso">
        <form action="/subirimagen" method="POST" novalidate enctype="multipart/form-data">
            <br>
            <div>
                <h1 class="titulos">Nueva imagen</h1>
                {{ form.hidden_tag() }}
                <h2 class="titulos">Asigna un titulo a tu imagen *</h2>
                {{ form.titulo_img.label }}
                {{ form.titulo_img(size = 45, placeholder="Elige un nombre para tu imagen*")}}
                {% for error in form.titulo_img.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <h2 class="titulos"> Asigna una etiqueta*</h2>
                {{ form.etiq_img.label }}
                {{ form.etiq_img(size = 45, placeholder="Elige una etiqueta para tu imagen*")}}
                {% for error in form.etiq_img.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="image-upload">
                <label for="file">
                    <img src="../static/img/subir_nube.png" width="600" height="270" style="cursor:pointer" />
                </label>
                <input id="file" type="file" name = "file" />
            </div>

            <br>
            <input id="Cancelar" type="button" value="Cancelar" class="escandal">
            <input id="Guardar" type="submit" value="Guardar" class="escandal">
        </form>
    </section>
</body>

</html>