<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver imagen | Visageimage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/estiloVerImagen.css') }}">
    <script src="https://kit.fontawesome.com/16e7301bc6.js" crossorigin="anonymous"></script>
</head>
<body> 
    <img class="imagenSeleccionada imagenModificar" src="../../../static/img/imagenPredeterminada.jpeg"/>
    <h1>Sunset in Cappadocia</h1>
    <h2>#holydays #dreams #travel</h2>
    <i class="fas fa-cloud-download-alt fa-3x" id="iconoDescargar"></i>
    <i class="fas fa-user-circle fa-2x" id="iconoUsuario"></i>
    <h3>Nombre Usuario</h3>
    <h4>@usuario</h4>
</body>