{% extends 'baseImagen.html' %}
<!DOCTYPE html>
<html lang="en">

{% block header %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="/static/css/estiloVerImagen.css"/>  
    <script type="text/javascript" src="../static/js/llamarimagen.js"></script> 
</head>
{% endblock %}

{% block content %}
<body class="principal" onload="load2();">
    <div style="width: 65%; margin-left: 20%; margin-top: 7%;">
        <table>
            <tr>
                <td><img class="imagenModificar" id= "imagenPrincipal2" src='../../../static/img/paisaje.jpg'></td>
                <td>
                    <input id="nombrePrincipal2" placeholder="Nombre imagen" style='height: 30px; width: 300px; margin-top: 15px; border-radius: 3px;'/>
                    <br>
                    <input type="text" placeholder="Etiqueta imagen" style='height: 30px; width: 300px; margin-top: 15px; border-radius: 3px;'/>
                    <br>
                    <br>
                    <label for="campoRadioPublica"> Pública </label>
                    <input type="radio" name="RadioPrivada" id="campoRadioPublica" value="Publica" />
                    <label for="campoRadioPrivada">Privada</label>
                    <input type="radio" name="RadioPrivada" id="campoRadioPrivada" value="Privada" />
                </td>
            </tr>
            <tr>
                <td><input type='file' id="img" name="img"></td>
                <td>
                    <input type="submit" class="btn btn-success" name='ACTUALIZAR' value="Actualizar">
                    <input type="submit" class="btn btn-danger" name='ELIMINAR' value="Eliminar">
                </td>
            </tr>
        </table>
    </div>
</body>
{% endblock %}

</html>